body {
    text-align: center;
    font-size: 1em;
    font-family: 'Red Hat Display', sans-serif;
}

h2 {
    margin-top: 5px;
}

p {
   margin-bottom: 0px; 
   color: hsl(224, 23%, 55%);
}

img {
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}

a {
    margin: auto;
}

.card {
    max-width: 450px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0px 10px 10px hsl(225, 100%, 98%);
}

.order {
    width: 80%;
    margin: auto;
}

.plan {
    display: grid;
    grid-auto-flow: column;
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
}

.text {
    text-align: left;
}

.text a {
    font-weight: 700;
}

.button {
    width: 80%;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 5px 15px hsl(224, 23%, 55%);
}

.button a {
    color: hsl(225, 100%, 94%);
    text-decoration: none;
    font-weight: 700;
}

.cancel a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    margin-top: 20px;
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    
  }